


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel carousel-height slide" data-pause="false" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner carousel-inner-height" role="listbox">
        <div class="item active">
          <div class="active-slide"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="caption-header-h1">hard surfaces feels as comfortable as carpet</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="second-slide"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="caption-header-h1">get out and explore</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="first-slide"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="caption-header-h1">look fashionable and protect your knees at the same time</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="third-slide"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="caption-header-h1">encouraging spontaneous play</h1>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

<div class="container-fluid cranberry-background">
  <div class="container">
    <!-- circle bullet thirds marketing -->
    <div class="selling-points row">
      <div class="col-xs-12 text-center">
        <h1 class="handwritting orange">crawling your way fall of 2017!</h1>
        <div class="media-heading">
          <br>
          <p class="lead white-text">qushneez is a distinctive line of activewear for babies and kids that is both stylish and protective.  We designed an everyday pant that protects the most vulnerable part of an active child, their knees.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 2st bullet technology marketing -->
</div>
<div class="container-fluid marketing-section text-center">
  <div class="container">

    <div class="col-md-3 icon-marketing">
      <%= fa_icon "female 3x", class: "font-icon-top" %><%= fa_icon "child 2x", class: "font-icon-top" %><%= fa_icon "male 3x", class: "font-icon-top" %><br>
      <p class="lead">Empowering parents to encourage kids to be active</p>
    </div>
    <div class="col-md-3 icon-marketing">
      <%= fa_icon "shield 3x", class: "font-icon-top" %>
      <p class="lead">Shields from scrapes and bruises.  Adds life garments.</p>
    </div>
    <div class="col-md-3 icon-marketing">
      <%= fa_icon "smile-o 3x", class: "font-icon-top" %>
      <p class="lead">Adds protection without removing fashion</p>
    </div>
    <div class="col-md-3 icon-marketing">
      <%= fa_icon "star 3x", class: "font-icon-top" %>
      <p class="lead">Designed with a child's active lifestyle in mind.</p>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="row featurette orange-featurette">
    <div class="container">
      <div class="col-md-12 text-center">
        <h2 class="featurette-heading featurette-spontaneous">qushneez is spontaneous playwear for kids<%= fa_icon "trademark" %></h2>
        <p class="lead">qushneez was created to encourage kids to explore, play and be active, and, to empower parents to let them do it!  You never know when a child is going to break out into play.</p>
      </div>
    </div>
  </div>
</div>
<!-- START THE FEATURETTES -->
<div class="container">
  <div class="row featurette featurette-padding">
    <div class="col-md-7">
      <h2 class="featurette-heading featurette-heading-2">Fashion with a purpose. <span class="featurette-heading-second">For girls and boys.</span></h2>
      <p class="lead">we want to encourage children to be active at a young age and enjoy the new pleasures of independent exploring by helping protect little knees.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("pant_feature.png", class: "featurette-image img-responsive center-block" )%>
    </div>
  </div>
</div>
<div class="featurette-divider"></div>
<div class="container-fluid review-hero">
  <div id="review-area" class="circle-review">
    <div class="review-background">
      <div class="text-center">
        <div class="row">
          <h1>happy customers say</h1>
          <div class="col-md-12">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" data-interval="10000">
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner carousel-inner-review text-center">
                <!-- Quote 1 -->
                <div class="item active">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <p class="review-text">With qushneez we can avoid tears when they fall down and when it's time to get dressed! My daughters love them and so do I! <br>— Laura J.</p>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <p class="review-text">After having three boys who wore through many knees in their pants as toddlers, I saw these and thought Genius.  Now I have many young nieces and nephews who will be getting these as gifts! <br>— Leslie O.</p>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <p class="review-text">These pants are pure genius.  Not only did they protect my little one's knees while she was mastering crawling, the 'qush' gave her a bit of extra traction on our slick hardwood floors.  Also, the fabric is divine and it washes well and holds it's shape and color and the design is adorable. <br>— Corbie K.</p>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <p class="lead review-text">I love qushneez pants because they are super cute and add protection without removing fashion.  Style, comfort and cushion, the best you can ask for for your kids! <br>— Stephanie M. </p>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
              <!-- Bottom Carousel Indicators -->
             <!--  <ol class="carousel-indicators carousel-indicators-2">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
                <li data-target="#quote-carousel" data-slide-to="3"></li>
              </ol> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /END THE FEATURETTES -->
