<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <title>qushneez | spontaneous playwear for kids</title>


  </head>

  <body>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Our Story", welcome_about_path %></li>
          <li><%= link_to "Shop", welcome_shop_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="navbar-form navbar-left">
            <button class= "btn btn-default btn-cranberry-top"><%= link_to "Sign up for updates", welcome_shop_path %></button>
          </div>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <%= yield %>
  <footer>
    <div class="container-fluid footer-background grey">
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <address>
              <strong>qushneez, LLC.</strong><br>
              <%= fa_icon "map-marker", {class: "orange"} %> San Francisco, CA<br>
            </address>
            <address>
            <strong>Samantha Ford</strong><br>
            <a href="mailto:samstevens@msn.com">info@qushneez.com</a>
          </address>
          <%= fa_icon "cc-visa 2x", class: "grey" %> <%= fa_icon "cc-mastercard 2x", class: "grey" %> <%= fa_icon "cc-discover 2x", class: "grey" %> <%= fa_icon "cc-amex 2x", class: "grey" %>
          </div>
          <div class="col-md-4">
            <p class="text-center"></p>
          </div>
          <div class="col-md-4">
            <h4 class="orange">get instant updates about our new products and special promos!</h4>
            <div class="navbar-form navbar-left">
              <%= render "/email_sign_ups/remote_form" %>
            </div>
          </div>
        </div>
      </div>
      <div class="container grey text-center">
        <div class="row">
          <div class="col-md-12 line">
            <div><%= fa_icon "facebook 2x", class: "maroon social-padding" %><%= fa_icon "instagram 2x", class: "maroon social-padding" %><div>
            <br><br>
          </div>
        </div>
      </div>
      <div class="container grey text-center">
        <div class="row">
          <div class="col-md-4">
            <small><%= fa_icon "copyright" %> 2017 qushneez LLC</small>
          </div>
          <div class="col-md-4">
            <small>qushneez</small>
          </div>
          <div class="col-md-4">
            <small>spontaneous playwear for kids<%= fa_icon "trademark" %></small>
          </div>
        </div>
      </div>
    </div>

  </footer>

</body>

</html>
